<!-- views/partials/comment-form.handlebars -->
<form>
  <fiedlset>
    <legend>Add a Comment</legend>

    <!-- Comment description-->
    <div class="form-group">
      <label for="comment--content">Description</label></br>
      <textarea class="form-control"
      id="comment-content"
      name="content"
      rows="10"
      placeholder="Your comment..."/></textarea>
    </div>

  </fiedlset>

<!-- Button -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Comment</button>
  </div>
</form>
