<!-- views/partials/comment.handlebars -->

<div class="card">
  <div class="card-block">
    <p class="card-text">{{this.content}}</p>
    <!-- Delete link -->
    <p><button class="btn btn-link delete-comment" id="deleteComment" data-comment-id=${response._id}>Delete</button></p>
  </div>
</div
