<!-- views/partials/comment.handlebars -->

<div class="card" id="{{this._id}}">
  <div class="card-block">
  <p class="card-text">{{this.content}}</p>
  <p>
      <button class="btn btn-link delete-comment" id="deleteComment" data-comment-id={{this._id}} data-movie-id={{this.movieId}}>Delete</button>
  </p>
  </div>
</div>

