<fieldset>
  <legend>Edit Review</legend>
  <!-- TITLE -->
  <div class="form-group">
    <p>
      <label for="review-title">Title</label><br>
      <input id="review-title" type="text" name="title" value="{{review.title}}"/>
    </p>
  </div>

  <!-- MOVIE TITLE -->
  <div class="form-group">
    <p>
      <label for="movie-title">Movie Title</label><br>
      <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
    </p>
  </div>


  <!-- DESCRIPTION -->
  <div class="form-group">
    <p>
      <label for="review-description">Description</label><br>
      <textarea id="review-description" class="form-control" name="description" rows="10" cols="30">{{review.description}}</textarea>
    </p>
  </div>

      <!-- RATING -->

  <div class="form-group">
    <p>
      <label>Rating</label><br>
      <select id="movie-rating" name="rating" />
        <option value="0">0 stars</option>
        <option value="1">1 star</option>
        <option value="2">2 stars</option>
        <option value="3">3 stars</option>
        <option value="4">4 stars</option>
        <option value="5">5 stars</option>
      </select>
    </p>
  </div>

</fieldset>
