<!--- Templete to create a new view -->
<form method="POST" action="/reviews">
  {{> reviews-form}}

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
    <button type="submit">Cancel Review</button>
  </p>
</form>
